@using EPiServer.Web.Mvc.Html
@model FLS.CoffeeDesk.Content.TextBlock

<div class="row">
    <div class="img-box">
        <img src="@Url.ContentUrl(Model.Image)"/>
    </div>
    <div class="text-box">
        <div class="text-area">
            @Html.PropertyFor(m => m.Content)
        </div>
    </div>
</div>