@using EPiServer.Web.Mvc.Html
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/Styles/common.css" rel="stylesheet"/>
</head>
<body>

@await Html.RenderEPiServerQuickNavigatorAsync()
@RenderBody()

</body>
</html>