@using EPiServer.Web.Mvc.Html
@model FLS.CoffeeDesk.Content.HomePage

@{
    ViewBag.Title = @Model.PageName;
    Layout = "_Layout";
}


<div class="container">
    <header class="row" style="justify-content: left">
        <div style="flex: 1"></div>
        <div style="flex: 8">
            <h1>Coffee desk</h1>
        </div>
        <div style="flex: 1"></div>
        <div></div>
    </header>
    @Html.PropertyFor(m => m.Content)
</div>